[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "==1.3.2"
boto3 = "*"
pymongo = "*"
pre-commit = "*"
pytest = "==7.4.3"
pytest-asyncio = "==0.21.1"
pydantic-settings = "*"
pydantic = {extras = ["email"] }

[dev-packages]
coverage = "*"

[requires]
python_version = "3.12"
